Issues:
 - кути в радіанах?
 - додати режим вимірювання

In [4]:
import random
import numpy as np
import pandas as pd

In [43]:
telemetry = ['turn_id', 'datetime', 'lat', 'lon', 'altitude', 'yaw', 'pitch', 'roll']

scan_pol = ['pol_0', 'pol_45', 'pol_90', 'pol_135', 'angle']

In [6]:
file_names = ['w_370', 'w_410', 'w_555', 'w_865', 'w_1378', 'w_1610']

In [7]:
def generate_pol():
    return round(random.uniform(0, 10), 3)

In [8]:
df = pd.DataFrame(list(range(360)), columns=['angle'])

In [54]:
n_turn = 10

for i in range(n_turn):
    for file in file_names:
        for el in scan_pol[:-1]:
            df[el] = [generate_pol() for _ in range(360)]
            df.to_csv('data/measurement/{:02d}_{}.csv'.format(i, file), index=False)

In [45]:
df.head()

   angle  pol_0  pol_45  pol_90  pol_135
0      0  4.827   4.217   8.740    3.008
1      1  5.674   9.594   3.272    6.630
2      2  0.789   1.580   0.598    3.068
3      3  3.449   4.730   0.395    3.372
4      4  8.275   8.237   2.021    5.772

In [17]:
def generate_princ_axes():
    return (round(random.uniform(-2, 2), 3),
            round(random.uniform(-2, 2), 3),
            round(random.uniform(-2, 2), 3))

In [18]:
from pyorbital.orbital import Orbital
from datetime import datetime

orb = Orbital("Suomi NPP")

dtobj = datetime(2015,2,7,3,1)
orb.get_lonlatalt(dtobj)

(-25.430895583896863, -29.78509022377576, 839.175966414443)

In [33]:
lat_lon_alt = []
timestemps = []
for i in range(n_turn):
    dtobj = datetime(2015,2,7,0,0,i * 6)
    timestemps.append(int(datetime.timestamp(dtobj)))
    lat_lon_alt.append(orb.get_lonlatalt(dtobj))

In [50]:
df_telemetry = pd.DataFrame([], columns=telemetry)
df_telemetry['turn_id'] = list(range(n_turn))
df_telemetry['turn_id'] = df_telemetry['turn_id'].apply(lambda x: '0' + str(x) if len(str(x)) < 2 else x)
df_telemetry['datetime'] = timestemps
df_telemetry[['lat','lon','altitude']] = lat_lon_alt

In [51]:
df_telemetry[['yaw', 'pitch', 'roll']] = [generate_princ_axes() for _ in range(n_turn)]

In [56]:
df_telemetry.to_csv('data/telemetry.csv', index=False)