In [1]:
simulation_path = '/home/ihor/work_space/grasp/home/aerosol_UA_simulation/environment_parameters/'

In [5]:
import numpy as np
import pandas as pd

In [ ]:
base_params_file = 'environment_parameters/image_dat_MSIP_bimodal.txt'
geometry_file = 'geometry/MSIP_geometry.sdat'
yaml_simulating = 'settings_example_MSIP_forward_fast.yml'

yaml_retrieving = ''

retrieved_params = ''

In [24]:
dates = '2008-01-04    2008-01-04    2008-01-04    2008-01-04    2008-01-06    2008-01-06    2008-01-06    2008-01-06    2008-01-08    2008-01-08    2008-01-08    2008-01-08    2008-01-11    2008-01-11    2008-01-11    2008-01-11    2008-01-13    2008-01-13    2008-01-13    2008-01-13    2008-01-15    2008-01-15    2008-01-15    2008-01-18    2008-01-18    2008-01-18    2008-01-18    2008-01-20    2008-01-20    2008-01-20    2008-01-20    2008-01-24    2008-01-24    2008-01-24    2008-01-24    2008-01-25    2008-01-25    2008-01-25    2008-01-25    2008-01-27    2008-01-27    2008-01-27    2008-01-27    2008-01-29    2008-01-29    2008-01-29    2008-01-29    2008-01-31    2008-01-31    2008-01-31    2008-01-31    2008-02-03    2008-02-03    2008-02-03    2008-02-03    2008-02-05    2008-02-05    2008-02-05    2008-02-05    2008-02-07    2008-02-07    2008-02-07    2008-02-07    2008-02-10    2008-02-10    2008-02-10    2008-02-10    2008-02-12    2008-02-12    2008-02-12    2008-02-12    2008-02-16    2008-02-16    2008-02-16    2008-02-16    2008-02-19    2008-02-19    2008-02-19    2008-02-19    2008-02-21    2008-02-21    2008-02-21    2008-02-23    2008-02-23    2008-02-23    2008-02-23    2008-02-25    2008-02-25    2008-02-25    2008-02-25    2008-02-26    2008-02-26    2008-02-26    2008-02-26    2008-02-28    2008-02-28    2008-02-28    2008-02-28    2008-03-01    2008-03-01    2008-03-01    2008-03-01    2008-03-08    2008-03-08    2008-03-08    2008-03-08    2008-03-10    2008-03-10    2008-03-10    2008-03-10    2008-03-13    2008-03-13    2008-03-13    2008-03-13    2008-03-15    2008-03-15    2008-03-15    2008-03-15    2008-03-19    2008-03-19    2008-03-19    2008-03-19    2008-03-24    2008-03-24    2008-03-24    2008-03-26    2008-03-26    2008-03-26    2008-03-26    2008-03-28    2008-03-28    2008-03-28    2008-03-28    2008-03-29    2008-03-29    2008-03-29    2008-03-29    2008-03-31    2008-03-31    2008-03-31    2008-03-31'
times = '13:15:01      13:15:01      13:15:01      13:15:01      13:02:42      13:02:42      13:02:42      13:02:42      12:50:22      12:50:22      12:50:22      12:50:22      13:21:20      13:21:20      13:21:20      13:21:20      13:09:03      13:09:03      13:09:03      13:09:03      12:56:42      12:56:42      12:56:42      13:27:43      13:27:43      13:27:43      13:27:43      13:15:25      13:15:25      13:15:25      13:15:25      12:50:50      12:50:50      12:50:50      12:50:50      13:34:09      13:34:09      13:34:09      13:34:09      13:21:50      13:21:50      13:21:50      13:21:50      13:09:34      13:09:34      13:09:34      13:09:34      12:57:15      12:57:15      12:57:15      12:57:15      13:28:16      13:28:16      13:28:16      13:28:16      13:15:58      13:15:58      13:15:58      13:15:58      13:03:41      13:03:41      13:03:41      13:03:41      13:34:46      13:34:46      13:34:46      13:34:46      13:22:29      13:22:29      13:22:29      13:22:29      12:57:57      12:57:57      12:57:57      12:57:57      13:28:59      13:28:59      13:28:59      13:28:59      13:16:42      13:16:42      13:16:42      13:04:28      13:04:28      13:04:28      13:04:28      12:52:12      12:52:12      12:52:12      12:52:12      13:35:31      13:35:31      13:35:31      13:35:31      13:23:16      13:23:16      13:23:16      13:23:16      13:10:59      13:10:59      13:10:59      13:10:59      13:17:32      13:17:32      13:17:32      13:17:32      13:05:21      13:05:21      13:05:21      13:05:21      13:36:18      13:36:18      13:36:18      13:36:18      13:24:00      13:24:00      13:24:00      13:24:00      12:59:26      12:59:26      12:59:26      12:59:26      13:18:21      13:18:21      13:18:21      13:06:06      13:06:06      13:06:06      13:06:06      12:53:52      12:53:52      12:53:52      12:53:52      13:37:13      13:37:13      13:37:13      13:37:13      13:24:57      13:24:57      13:24:57      13:24:57'
lat = '13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280       13.5830       13.5280'
lon = '2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570'

In [25]:
lon

'2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570        2.6010        2.6000        2.6580        2.6570'

In [27]:
df = pd.DataFrame([dates.split(), times.split(), lat.split(), lon.split()]).T

In [30]:
df[[2, 3]].drop_duplicates()

         2       3
0  13.5830  2.6010
1  13.5280  2.6000
2  13.5830  2.6580
3  13.5280  2.6570

In [32]:
df[3].unique()

array(['2.6010', '2.6000', '2.6580', '2.6570'], dtype=object)

In [31]:
(df[0] + df[1]).value_counts()

2008-03-0113:10:59    4
2008-03-0813:17:32    4
2008-02-1213:22:29    4
2008-03-1313:36:18    4
2008-01-0413:15:01    4
2008-02-1913:28:59    4
2008-01-2513:34:09    4
2008-02-2313:04:28    4
2008-03-1013:05:21    4
2008-03-2613:06:06    4
2008-01-1113:21:20    4
2008-02-0513:15:58    4
2008-03-1912:59:26    4
2008-02-0713:03:41    4
2008-01-2412:50:50    4
2008-02-0313:28:16    4
2008-02-2613:35:31    4
2008-01-0613:02:42    4
2008-01-3112:57:15    4
2008-02-2813:23:16    4
2008-02-2512:52:12    4
2008-01-0812:50:22    4
2008-01-1313:09:03    4
2008-03-2913:37:13    4
2008-02-1612:57:57    4
2008-01-2013:15:25    4
2008-03-1513:24:00    4
2008-01-2713:21:50    4
2008-02-1013:34:46    4
2008-01-2913:09:34    4
2008-01-1813:27:43    4
2008-03-3113:24:57    4
2008-03-2812:53:52    4
2008-01-1512:56:42    3
2008-02-2113:16:42    3
2008-03-2413:18:21    3
dtype: int64